%h1
  Matt's Tech Blog

%h3
  = link_to 'The Command Line, Version Control, git and GitHub', git_path
  %br
  = link_to 'HTML and CSS', htmlcss_path
  %br
  = link_to 'Arrays and Hashes', arrayshashes_path
  %br
  = link_to 'Week 5: Enumerable Methods', enumerable_path
  %br
  = link_to 'Week 6: Ruby Classes', rubyclasses_path
  %br
  = link_to 'Week 7: Javascript vs. Ruby', jsvsruby_path
  %br
  = link_to 'Week 8: Big O Notation', bigonotation_path